*.o
*.d
*#
buenos
*.map
store.file
fyams.harddisk1
fyams.harddisk
util/tfstool
tests/halt
tests/hw
tests/calc
tests/exec
tests/threads
tests/threads_locks
tests/threads_ring
tests/zombiegone
tests/badexec
tests/hello
tests/shell
tests/counter
*.swp
*~
